{% extends "layout/base.html" %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h2>Current Todo's</h2>
            </div>
        </div>
        <!-- Add Todo Item -->
        <form action="/add" method="post">
            <div class="row">
                <div class="col-auto">
                    <label for="todoTitle" class="form-label">Todo Title:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <input type="text" name="todoTitle" id="todoTitle" class="form-control ">

                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary btn-sm">Add Todo</button>
                </div>
            </div>
        </form>
        <hr>
        <!-- Todo Item List -->
        <div class="container text-start">
            <div class="row">
                <div class="col-1 fw-bold">
                    Id
                </div>
                <div class="col-4 fw-bold">
                    Title
                </div>
                <div class="col-3 fw-bold">
                    Date Created
                </div>
            </div>
            {% for todo in todo_list %}
                <div class="row">
                    <div class="col-1">
                        {{ todo.id }}
                    </div>
                    <div class="col-4">
                        {{ todo.title }}
                    </div>
                    <div class="col-3">
                        {{ todo.date_created.strftime('%Y-%m-%d') }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        {% if todo.is_complete == False%}
                            <span class="badge rounded-pill text-bg-secondary">Incomplete</span>
                        {% else %}
                            <span class="badge rounded-pill text-bg-success">Complete</span>
                        {% endif%}
                    </div>
                    <div class="col-4">
                        <a href="/update/{{ todo.id }}" class="btn btn-primary btn-sm">Update</a>
                        <a href="/delete/{{ todo.id }}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
            {% endfor %}
        </div>
</div>
{% endblock content %}